@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif;
*/

@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0288D1;
  --nav-size: 100px;
  --color-secondary: #0097A7;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.text-area:focus-within {
  border: 1px solid #3F51B5;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}


@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 800px) {
  .moto {
    font-size: .7rem;
  }
  .title {
    font-size: 2rem;
  }
}